In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp

In [3]:
data = {'Sabbah': 'None', 'Ali': 'None', 'Jordi':'None', 'Alex':'Myopia', 
        'Elliott':'Other', 'Paula':'Other', 'Jaume':'Myopia', 'Vlad':'None',
       'Ruben':'Myopia', 'Maria':'Myopia', 'Estefania':'None', 'Jan':'Myopia', 
       'Eva': 'Myopia', 'Emanuele':'None', 'Nacho':'Myopia', 'Cinla':'Other',
       'Ana':'None', 'Guillem':'Other'}

In [11]:
myopia = pd.DataFrame.from_dict(data, orient = 'index', columns = ['VisualProblem'])

In [12]:
myopia

          VisualProblem
Sabbah             None
Ali                None
Jordi              None
Alex             Myopia
Elliott           Other
Paula             Other
Jaume            Myopia
Vlad               None
Ruben            Myopia
Maria            Myopia
Estefania          None
Jan              Myopia
Eva              Myopia
Emanuele           None
Nacho            Myopia
Cinla             Other
Ana                None
Guillem           Other

In [13]:
myopia_perc = 100*len(myopia.query('VisualProblem == "Myopia"')) / len(myopia)

In [14]:
myopia_perc

38.888888888888886

In [15]:
myopia['HasMyopia'] = myopia['VisualProblem'].apply(lambda x: 1 if x == 'Myopia' else 0)

In [16]:
myopia

          VisualProblem  HasMyopia
Sabbah             None          0
Ali                None          0
Jordi              None          0
Alex             Myopia          1
Elliott           Other          0
Paula             Other          0
Jaume            Myopia          1
Vlad               None          0
Ruben            Myopia          1
Maria            Myopia          1
Estefania          None          0
Jan              Myopia          1
Eva              Myopia          1
Emanuele           None          0
Nacho            Myopia          1
Cinla             Other          0
Ana                None          0
Guillem           Other          0

In [24]:
myopia_mean = myopia['HasMyopia'].mean()
print(myopia_mean)

tset, pval = ttest_1samp(myopia['HasMyopia'], 0.4)

print('p-values',pval)
if pval/2 < 0.05:    # alpha value is 0.05 or 5%, but I want to check just one tail
   print(" we are rejecting null hypothesis")
else:
  print("we are not rejecting null hypothesis")

0.3888888888888889
p-values 0.9262282910365297
we are not rejecting null hypothesis